.item_odd
{
    line-height:24px;
    height:24px;
    padding: 2px;
    width:100%;
    background-color:white;
    border-top:solid 1px whitesmoke;
}
.item_even
{
    line-height:24px;
    height:24px;
    padding: 2px;
    width:100%;
    background-color:white;
    border-top:solid 1px whitesmoke;
}
.chooseItem{
	background-color: rgba(232, 232, 232, 0.7);/*#008B8B;*/
    color:#000000;
    cursor: pointer;
    height:24px;
    padding: 2px;
    width:100%;
    line-height:24px;
    font-weight:bolder;
}
