.item_odd
{
    line-height:20px;
    height:20px;
    padding: 2px;
    width:99%;
    overflow: hidden;
    background-color:white;
}
.item_even
{
    line-height:20px;
    height:20px;
    padding: 2px;
    width:99%;
    overflow: hidden;
    background-color:white;
}
.chooseItem{
	background-color: rgba(232, 232, 232, 0.7);/*#008B8B;*/
    color:#000000;
    cursor: pointer;
    height:20px;
    padding: 2px;
    width:100%;
    line-height:20px;
    font-weight:bolder;
}
