.item_odd
{
    line-height:24px;
    height:24px;
    padding: 2px;
    width:100%;
    background-color:white;
    border-top:solid 1px whitesmoke;
    overflow:hidden;
}
.item_even
{
    line-height:24px;
    height:24px;
    padding: 2px;
    width:100%;
    background-color:white;
    border-top:solid 1px whitesmoke;
    overflow:hidden;
}
.chooseItem{
	background-color: rgba(232, 232, 232, 0.7);/*#008B8B;*/
    color:#000000;
    cursor: pointer;
    height:24px;
    padding: 2px;
    width:100%;
    line-height:24px;
    font-weight:bolder;
    overflow:hidden;
}
.resultsCss{ /*匹配结果集容器样式*/
    position:absolute;
    overflow-y:auto; 
    overflow-x:hidden; 
    display:none;
    border:solid 1px gray; 
    background-color:#F0FFFF;
}
